<div class= "container">
  <h1>Manilia Traffic</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="chart"></div>
      <svg></svg>
    </div>
    <div class="col-md-3">
      <div class="c-panel-label">
        Filter
      </div>
      <div class="c-panel-sub-label">
        Click to hide/show line
      </div>
    <div class="c-panel-body">
      <div class= "line-names" id="line-names"></div>
    </div>
  </div>
</div>
