<div class= "container">
<h1>Manila Traffic</h1>
<div class="row">
  <div class="col-md-9">

  <h2 id="subhead">Select a time: <span id="slider7text">0:30</span></h2>
  <div class = "slider" id = "slider"></div>
  <div class="rect">
  <div class="chart" id = "chart"></div>
  </div>
  <svg></svg>
  </div>
  <div class="col-md-3">
    <div class="panel-label">
      <p id="menu">Select a line:<select></select></p>
    </div>
  <div class="c-panel-body">
    <div class= "line-names" id="line-names"></div>
  </div>
</div>
</div>
