
<div class="container">
  <h1>Sorting</h1>
  <h3>Introducing, the All-In-One Sortmatic Machine! It bubble-sorts! It merge-sorts! It quick-sorts!
It even bucket-sorts! It even shows you all the results in a step-by-step manner with a handy,
dandy user interface! All for one amazing price of 99.95!</h3>
  <div class="row">
    <div class="col-md-6">
      <h2> Bubble Sort </h2>
      <input type="text" id="bubble" placeholder="Enter numbers to be sorted"  </input>
      <button id="play1"> Play </button>
      <p id="bs"></p>

    </div>
    <div class="col-md-6">
      <h2> Selection Sort </h2>
      <input type="text" id="selection" placeholder="Enter numbers to be sorted" </input>
      <button id="play2"> Play </button>
      <p id="ss"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2> Insertion Sort </h2>
      <input type="text" id="insert" placeholder="Enter numbers to be sorted" </input>
      <button id="play3"> Play </button>
      <p id="is"></p>
      <p id="steps"</p>
    </div>
    <div class="col-md-6">
      <h2> Merge Sort </h2>
      <input type="text" id="merge" placeholder="Enter numbers to be sorted"  </input>
      <button id="play4"> Play </button>
      <p id="ms"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2> Quick Sort </h2>
      <input type="text" id="quick" placeholder="Enter numbers to be sorted" </input>
      <button id="play5"> Play </button>
      <p id="qs"></p>
    </div>
    <div class="col-md-6">
      <h2> Bucket Sort </h2>
      <input type="text" id="bucket" placeholder="Enter numbers to be sorted" </input>
      <button id="play6"> Play </button>
      <p id="bs2"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2> Radix Sort </h2>
      <input type="text" id="radix" placeholder="Enter numbers to be sorted" </input>
      <button id="play7"> Play </button>
      <p id="rs"></p>
    </div>
    <div class="col-md-6">
      <h2> Bogo Sort </h2>
      <input type="text" id="bogo" </input>
      <button id="play8"> Play </button>
      <p id="bs3"></p>
    </div>
  </div>
</div>
