// Place all the styles related to the chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {
  margin-top: -80px;
  margin-left: -100px;
}
// .rect {
//   // height: inherit;
//   // width: inherit;
//   border: 2px solid #E26A6A;
//   border-radius: 5px;
// }



.line-square {
  float:left;
  width:15px;
  height:15px;
  margin-right:8px;
  margin-top:2px;
  background:#222222;
  border-radius: 8px;
  border-width: 2px;
  border-color:#222222;
  border-style: solid
}

.line-row {
  padding: 5.5px;
}

.line-0 {
  fill:#e25b83;
  stroke: #3B0D7E;
  // stroke-width: 2;
  background:#e25b83;
  border-color:#e25b83;
}
.line-1 {
  fill:#ec7735;
  stroke: #3B0D7E;
  // stroke-width: 2;
  background:#ec7735;
  border-color:#ec7735;
}
.line-2 {
  stroke: #cf692f;
  // stroke-width: 2;
  fill:#70c49b;
  background:#70c49b;
  border-color:#70c49b;
}
.line-3 {
  stroke: #cf692f;
  stroke-width: #579c7b;
  fill:#f6c14f;
  background:#f6c14f;
  border-color:#f6c14f;
}
.line-4 {
  stroke: #3B0D7E;
  fill:#8d5641;
  background:#8d5641;
  border-color:#8d5641;
}
.line-5 {
  stroke: #3B0D7E;
  fill:#2e91cb;
  background:#2e91cb;
  border-color:#2e91cb;
}
.line-6 {
  stroke: #cf692f;
  fill:#53c4c8;
  background:#53c4c8;
  border-color:#53c4c8;
}
.line-7 {
  stroke: #cf692f;
  fill:#b193c0;
  background:#b193c0;
  border-color:#b193c0;
}
.line-8 {
  stroke: #3B0D7E;
  fill:#c6c6c0;
  background:#c6c6c0;
  border-color:#c6c6c0;
}
.line-9 {
  stroke: #3B0D7E;
  fill:#F1C40F;
  background:#f6c14f;
  border-color:#f6c14f;
}
.line-10 {
  stroke: #cf692f;
  fill:#E67E22;
  background:#E67E22;
  border-color:#E67E22;
}
.line-11 {
  stroke: #cf692f;
  fill:#E74C3C;
  background:#E74C3C;
  border-color:#E74C3C;
}
.line-12 {
  stroke: #3B0D7E;
  fill:#ECF0F1;
  background:#ECF0F1;
  border-color:#ECF0F1;
}
.line-13 {
  stroke: #3B0D7E;
  fill:#95A5A6;
  background:#95A5A6;
  border-color:#95A5A6;
}
.line-14 {
  stroke: #cf692f;
  fill:#F39C12;
  background:#F39C12;
  border-color:#F39C12;
}

.line-15 {
  stroke: #cf692f;
  fill:#D35400;
  background:#D35400;
  border-color:#D35400;
}
.line-16 {
  stroke: #3B0D7E;
  fill:#C0392B;
  background:#C0392B;
  border-color:#C0392B;
}
.line-17 {
  stroke: #3B0D7E;
  fill:#BDC3C7;
  background:#BDC3C7;
  border-color:#BDC3C7;
}
.line-18 {
  stroke: #cf692f;
  fill:#7F8C8D;
  background:#7F8C8D;
  border-color:#7F8C8D;
}
.line-19 {
  stroke: #cf692f;
  fill:#1ABC9C;
  background:#1ABC9C;
  border-color:#1ABC9C;
}
.line-20 {
  stroke: #3B0D7E;
  fill:#2ECC71;
  background:#2ECC71;
  border-color:#2ECC71;
}
.line-21 {
  stroke: #3B0D7E;
  fill:#3498DB;
  background:#3498DB;
  border-color:#3498DB;
}
.line-22 {
  stroke: #cf692f;
  fill:#9B59B6;
  background:#9B59B6;
  border-color:#9B59B6;
}
.line-23 {
  stroke: #cf692f;
  fill: #D2D7D3;
  background: #D2D7D3;
  border-color: #D2D7D3;
}
.line-24 {
  stroke: #cf692f;
  fill:#16A085;
  background:#16A085;
  border-color:#16A085;
}
.line-25 {
  stroke: #cf692f;
  fill: #27AE60;
  background: #27AE60;
  border-color: #27AE60;
}
.line-26 {
  stroke: #cf692f;
  fill:#2980B9;
  background: #2980B9;
  border-color: #2980B9;
}
.line-27 {
  stroke: #cf692f;
  fill: #E67E22;
  background: #E67E22;
  border-color: #E67E22;
}
.line-28 {
  stroke: #cf692f;
  fill: #2C3E50;
  background: #2C3E50;
  border-color: #2C3E50;
}
.line-29 {
  stroke: #cf692f;
  fill:#EB974E;
  background:#EB974E;
  border-color:#EB974E;
}
.line-30 {
  stroke: #cf692f;
  fill:#C8F7C5;
  background:#C8F7C5;
  border-color:#C8F7C5;
}
.line-31 {
  stroke: #cf692f;
  fill:#FDE9B9;
  background:#FDE9B9;
  border-color:#FDE9B9;
}
.line-32 {
  stroke: #cf692f;
  fill:#1E8BC3;
  background:#1E8BC3;
  border-color:#1E8BC3;
}
.line-33 {
  stroke: #cf692f;
  fill:#4ECDC4;
  background:#4ECDC4;
  border-color:#4ECDC4;
}
.line-34 {
  stroke: #cf692f;
  fill:#DCC6E0;
  background:#DCC6E0;
  border-color:#DCC6E0;
}
.line-35 {
  stroke: #cf692f;
  fill:#9A12B3;
  background:#9A12B3;
  border-color:#9A12B3;
}
.line-36 {
  stroke: #cf692f;
  fill:#96281B;
  background:#96281B;
  border-color:#96281B;
}

.d3-slider {
  margin-top: 45px;
}
.d3-slider-handle {
   position: absolute;
   width: 1.2em;
   height: 1.2em;
   border: 0px solid #d3d3d3;
   border-radius: 12px!important;
   background: #af516c!important;
   z-index: 3;
}
 .d3-slider-horizontal {
   height: .2em!important;
   background-color:#cec6b9;
 }
 .d3-slider-handle:hover {
   background: #af516c!important;
   border: 0px solid #af516c;
}
span#slider7text {
   color:#9e2f50;
}
div#slider7 {
   width:562px;
   margin-left:auto;
   margin-right:auto;
}
 #credits a {
   color:#2e6e9e;
   position:relative;
   margin-right:0px;
   text-decoration:none;
   background-color:#fff1e0;
   padding:0px;
   border-radius:0px;
   font-size:11px;
   font-weight:normal;
}
div#credits {
   position:absolute;
   top:730px;
   left:0px;
}
#credits span {
   font-size:11px;
   font-weight:bold;
 }
#credits span#author {
   position:relative;
   left:16px;
 }
#credits span#maps {
   position:relative;
   left:8px;
 }
#credits a:hover {
   background-color:none;
   color:#000;
 }
#credits a.ftr:hover {
   background-color:none;
   color:#43423e;
 }
#credits a.ftr {
   color:#43423e;
 }

.drop {
  // border: 0 !important;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // background: #0088cc url(select-arrow.png) no-repeat 90% center;
  // width: 155px;
  // text-indent: 0.01px;
  // text-overflow: "";
  // color: #FFF;
  // border-radius: 10px 0;
  // padding: 5px;
  margin-left: 5px;
  box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
