// Place all the styles related to the chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {
  margin-top: -100px;
}




.line-square {
  float:left;
  width:15px;
  height:15px;
  margin-right:8px;
  margin-top:2px;
  background:#222222;
  border-radius: 8px;
  border-width: 2px;
  border-color:#222222;
  border-style: solid
}

.line-row {
  padding: 5.5px;
}

.line-0 {
  fill:#e25b83;
  // stroke: #e25b83;
  // stroke-width: 2;
  background:#e25b83;
  border-color:#e25b83;
}
.line-1 {
  fill:#ec7735;
  // stroke: green;
  // stroke-width: 2;
  background:#ec7735;
  border-color:#ec7735;
}
.line-2 {
  fill:#70c49b;
  background:#70c49b;
  border-color:#70c49b;
}
.line-3 {
fill:#f6c14f;
  background:#f6c14f;
  border-color:#f6c14f;
}
.line-4 {
fill:#8d5641;
  background:#8d5641;
  border-color:#8d5641;
}
.line-5 {
fill:#2e91cb;
  background:#2e91cb;
  border-color:#2e91cb;
}
.line-6 {
fill:#53c4c8;
  background:#53c4c8;
  border-color:#53c4c8;
}
.line-7 {
fill:#b193c0;
  background:#b193c0;
  border-color:#b193c0;
}
.line-8 {
fill:#c6c6c0;
  background:#c6c6c0;
  border-color:#c6c6c0;
}


.line-9 {
  fill:#f6c14f;
  background:#f6c14f;
  border-color:#f6c14f;
}
.line-10 {
fill:#8d5641;
  background:#8d5641;
  border-color:#8d5641;
}
.line-11 {
fill:#2e91cb;
  background:#2e91cb;
  border-color:#2e91cb;
}
.line-12 {
fill:#53c4c8;
  background:#53c4c8;
  border-color:#53c4c8;
}
.line-13 {
fill:#b193c0;
  background:#b193c0;
  border-color:#b193c0;
}
.line-14 {
fill:#c6c6c0;
  background:#c6c6c0;
  border-color:#c6c6c0;
}

.line-15 {
fill:#2e91cb;
  background:#2e91cb;
  border-color:#2e91cb;
}
.line-16 {
fill:#53c4c8;
  background:#53c4c8;
  border-color:#53c4c8;
}
.line-17 {
fill:#b193c0;
  background:#b193c0;
  border-color:#b193c0;
}
.line-18 {
fill:#c6c6c0;
  background:#c6c6c0;
  border-color:#c6c6c0;
}

.line-19


.d3-slider-handle {
   position: absolute;
   width: 1.2em;
   height: 1.2em;
   border: 0px solid #d3d3d3;
   border-radius: 12px!important;
   background: #af516c!important;
   z-index: 3;
   }
   .d3-slider-horizontal {
   height: .2em!important;
   background-color:#cec6b9;
   }
   .d3-slider-handle:hover {
   background: #af516c!important;
   border: 0px solid #af516c;
   }
   span#slider7text {
     color:#9e2f50;
     }
   div#slider7 {
     width:562px;
     margin-left:auto;
     margin-right:auto;
     }
   #credits a {
     color:#2e6e9e;
     position:relative;
     margin-right:0px;
     text-decoration:none;
     background-color:#fff1e0;
     padding:0px;
     border-radius:0px;
     font-size:11px;
     font-weight:normal;
     }
   div#credits {
     position:absolute;
     top:730px;
     left:0px;
     }
   #credits span {
     font-size:11px;
     font-weight:bold;
     }
   #credits span#author {
     position:relative;
     left:16px;
     }
   #credits span#maps {
     position:relative;
     left:8px;
     }
   #credits a:hover {
     background-color:none;
     color:#000;
     }
   #credits a.ftr:hover {
     background-color:none;
     color:#43423e;
     }
   #credits a.ftr {
     color:#43423e;
     }

     .drop {
       border: 0 !important;
       -webkit-appearance: none;
       -moz-appearance: none;
       background: #0088cc url(select-arrow.png) no-repeat 90% center;
       width: 155px;
       text-indent: 0.01px;
       text-overflow: "";

       color: #FFF;
       border-radius: 10px 0;
       padding: 5px;
       box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
     }
