$font-family-sans-serif: 'Bariol', sans-serif;

// Base
$border-radius-base: 0;
$body-bg: #f5f5f5;
$text-color: #565a5c;

// Panels
$panel-bg: #fff;

$mb-orange: #f49724;
$fb-blue: #3b5998;

$font-family-price: 'Georgia', serif;

@font-face {
  font-family: 'Bariol';
  src: asset-url('bariol_regular-webfont.eot');
  src: asset-url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('bariol_regular-webfont.woff') format('woff'),
       asset-url('bariol_regular-webfont.ttf') format('truetype'),
       asset-url('bariol_regular-webfont.svg#bariol_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 12px;
}
